In [0]:
from pyspark.sql.functions import greatest, col
from pyspark.sql import functions as F
data = [
    ('01-Feb-23', '01-Sep-23'),
    (' ', '01-Dec-23'),
    ('01-Mar-23', ' ')
]
columns = ["Date1","Date2"]
df = spark.createDataFrame(data, columns)
df = df.withColumn("Date1", F.to_date("Date1", "dd-MMM-yy")) \
       .withColumn("Date2", F.to_date("Date2", "dd-MMM-yy"))

df = df.withColumn("GreatestDate", greatest(col("Date1"), col("Date2")))
df.show()

+----------+----------+------------+
|     Date1|     Date2|GreatestDate|
+----------+----------+------------+
|2023-02-01|2023-09-01|  2023-09-01|
|      null|2023-12-01|  2023-12-01|
|2023-03-01|      null|  2023-03-01|
+----------+----------+------------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("Top5CustomersWithHighestClicks").getOrCreate()
data_tuples = [
    (1, '2023-01-01 12:00:00', 'click'),
    (2, '2023-01-01 12:05:00', 'view'),
    (1, '2023-01-01 12:10:00', 'click'),
    (3, '2023-01-01 12:15:00', 'view'),
    (2, '2023-01-01 12:20:00', 'click'),
    (1, '2023-01-01 12:25:00', 'view'),
    (3, '2023-01-01 12:30:00', 'click'),
    (2, '2023-01-01 12:35:00', 'view'),
    (1, '2023-01-01 12:40:00', 'click'),
    (3, '2023-01-01 12:45:00', 'view'),
    (1, '2023-01-02 12:10:00', 'click'),
    (1, '2023-01-03 12:10:00', 'click'),
    (1, '2023-01-04 12:10:00', 'view'),
]

columns = ["user_id", "timestamp", "interaction_type"]
df = spark.createDataFrame(data_tuples, columns)

clicks_df = df.filter(col("interaction_type") == "click")
clicks_count_df = clicks_df.groupBy("user_id").count()

sorted_clicks_count_df = clicks_count_df.orderBy(col("count").desc())

top_5_customers_with_highest_clicks = sorted_clicks_count_df.limit(5)
top_5_customers_with_highest_clicks.show()

+-------+-----+
|user_id|count|
+-------+-----+
|      1|    5|
|      2|    1|
|      3|    1|
+-------+-----+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count
spark = SparkSession.builder.appName("TopClick").getOrCreate()
data = [
    (1, '2023-01-01 12:00:00', 'click'),
    (2, '2023-01-01 12:05:00', 'view'),
    (1, '2023-01-01 12:10:00', 'click'),
    (3, '2023-01-01 12:15:00', 'view'),
    (2, '2023-01-01 12:20:00', 'click'),
    (1, '2023-01-01 12:25:00', 'view'),
    (3, '2023-01-01 12:30:00', 'click'),
    (2, '2023-01-01 12:35:00', 'view'),
    (1, '2023-01-01 12:40:00', 'click'),
    (3, '2023-01-01 12:45:00', 'view'),
    (1, '2023-01-02 12:10:00', 'click'),
    (1, '2023-01-03 12:10:00', 'click'),
    (1, '2023-01-04 12:10:00', 'view'),
]
columns = ['user_id', 'timestamp', 'interaction_type']
df = spark.createDataFrame(data, columns)
df_filtered = df.where(col('interaction_type') == 'click')
df_click_counts = df_filtered.groupBy('user_id').agg(count(col('interaction_type')).alias('click_count')).sort(col('click_count').desc())
top_5_clickers = df_click_counts.limit(5)
top_5_clickers.show()

+-------+-----------+
|user_id|click_count|
+-------+-----------+
|      1|          5|
|      2|          1|
|      3|          1|
+-------+-----------+

In [0]:
#find the missing numbers in the column "id"
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("FindMissingNumber").getOrCreate()
data = [
    (1,),
    (2,),
    (3,),
    (6,),
    (7,),
    (8,),
]
df = spark.createDataFrame(data).toDF("id")
expected_id_range = spark.range(1, df.count() + 1)  
miss_ids = expected_id_range.select(col("id").cast(df.schema["id"].dataType)).exceptAll(df)
miss_ids = missing_ids.withColumnRenamed("id", "missingids")
miss_ids.show()

+----------+
|missingids|
+----------+
|         4|
|         5|
+----------+

In [0]:
# Take input from user to create a list n displsy display even numbers from it 
n = int(input("Enter the number of elements: "))
user_list = []
for i in range(n):
    user_list.append(int(input("Enter element {}: ".format(i + 1))))
even_numbers = [x for x in user_list if x % 2 == 0]
print("Even numbers:", even_numbers)

Enter the number of elements:  4

Enter element 1:  1

Enter element 2:  2

Enter element 3:  3

Enter element 4:  4

Even numbers: [2, 4]

In [0]:
%sql
-- Create a table to store user input
CREATE TABLE UserInput (
    Value INT
);

-- Insert user input into the table
INSERT INTO UserInput (Value) VALUES (1), (2), (3), (4), (5);

-- Display only even numbers from the table
SELECT Value
FROM UserInput
WHERE Value % 2 = 0;

Value
2
4

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SampleEvenNumbers").getOrCreate()
data = [(1,), (2,), (3,), (4,), (5,)]
df = spark.createDataFrame(data, ["value"])
even_numbers_df = df.filter(col("value") % 2 == 0)
even_numbers_df.show()

+-----+
|value|
+-----+
|    2|
|    4|
+-----+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("SampleEvenNumbers").getOrCreate()
data = [(1,), (2,), (3,), (4,), (5,)]
df = spark.createDataFrame(data, ["value"])
even_numbers_df = df.filter(col("value") % 2 == 0)
even_numbers_df.show()

+-----+
|value|
+-----+
|    2|
|    4|
+-----+

In [0]:
#like and not like operatorin pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("LikeNotLikeExample").getOrCreate()
df=spark.read.csv("dbfs:/FileStore/employees.csv",header=True)
df.show(10)

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 10 rows

In [0]:
j_names_df = df.filter(col("FIRST_NAME").like("J%"))
print("FIRST_NAME starting with 'J':")
j_names_df.show()

FIRST_NAME starting with 'J':
+-----------+-----------+---------+-------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|  EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+---------+-------+------------+---------+----------+------+--------------+----------+-------------+
|        200|   Jennifer|   Whalen|JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        110|       John|     Chen|  JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
|        112|Jose Manuel|    Urman|JMURMAN|515.124.4469|07-MAR-06|FI_ACCOUNT|  7800|            - |       108|          100|
|        125|      Julia|    Nayer| JNAYER|650.124.1214|16-JUL-05|  ST_CLERK|  3200|            - |       120|           50|
|        127|      James|   Landry|JLANDRY|650.124.1334|14-JAN-07|  ST_CLERK|  2400|            - |       120|           50|
|        131|      James|   Marlow|JAMRLOW|650.124.7234|16-FEB-05|  ST_CLERK|  2500|            - |       121|           50|
|        133|      Jason|   Mallin|JMALLIN|650.127.1934|14-JUN-04|  ST_CLERK|  3300|            - |       122|           50|
|        139|       John|      Seo|   JSEO|650.121.2019|12-FEB-06|  ST_CLERK|  2700|            - |       123|           50|
|        140|     Joshua|    Patel| JPATEL|650.121.1834|06-APR-06|  ST_CLERK|  2500|            - |       123|           50|
+-----------+-----------+---------+-------+------------+---------+----------+------+--------------+----------+-------------+

In [0]:
non_j_names_df = df.filter(~col("FIRST_NAME").like("J%"))
print("FIRST_NAME not starting with 'J':")
non_j_names_df.show()

FIRST_NAME not starting with 'J':
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        111|    Ismael|  Sciarra|ISCIARRA|515.124.4369|30-SEP-05|FI_ACCOUNT|  7700|            - |       108|          100|
|        113|      Luis|     Popp|   LPOPP|515.124.4567|07-DEC-07|FI_ACCOUNT|  6900|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows